! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   #vrrp_strict
   vrrp_garp_interval 0
   vrrp_gna_interval 0
}
vrrp_script chk_redis {
        script "{{script_folder}}/redis_check.sh"
        interval 2
}

vrrp_instance VI_{{auth_pass}} {
    state MASTER
    nopreempt
    interface {{eth}}
    virtual_router_id {{virtual_router_id}}
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{auth_pass}}
    }
    virtual_ipaddress {
        {{virtual_ipaddress}}
    }
    track_script {
        chk_redis
    }
    notify_master {{script_folder}}/redis_master.sh
    notify_backup {{script_folder}}/redis_backup.sh
    notify_fault  {{script_folder}}/redis_fault.sh
    notify_stop   {{script_folder}}/redis_stop.sh
}