#!/bin/bash
###/etc/keepalived/scripts/redis_backup.sh
REDISCLI="{{deploy_folder}}/redis/bin/redis-cli  -a {{password}} -p 6379"
LOGFILE="{{deploy_folder}}/redis/logs/redis.log"
pid=$$

echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[master]" >> $LOGFILE
echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[master] Being slave state..." >> $LOGFILE 2>&1
echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[master] wait 10 sec for data sync from old master" >> $LOGFILE
sleep 10
echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[master] data rsync from old mater ok..." >> $LOGFILE
echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[slaver] Run 'SLAVEOF {{master_ip}} 6379 '" >> $LOGFILE
$REDISCLI SLAVEOF {{master_ip}} 6379 >> $LOGFILE  2>&1
echo "`date +'%Y-%m-%d:%H:%M:%S'`|$pid|state:[slaver] slave connect to {{master_ip}} ok..." >> $LOGFILE
